.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: radial-gradient(at 47% 33%, hsl(212.37, 72%, 59%) 0, transparent 59%),radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);;
    color: #ffffff;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}